# file types to ignore
*.pyc
*.pyd
*.so
*.enamlc
*~
.DS_Store
.coverage

# Docs files to ignore
/docs/source/api/*.rst
!docs/source/api/apptools.api.rst
docs/build/

# ignore the build directories
*.egg-info/
build/
dist/
